
@model IEnumerable<KorusTest.Model.Telephone>
@{
    ViewBag.Title = "Все телефоны";
}
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>Номер</td><td>Абонент</td></tr>
    @foreach (KorusTest.Model.Telephone item in Model)
    {
        <tr>
            <td>@item.Number</td>
            <td>@item.Employee.FIO</td>
            <!--<td>item.Salary.ToString("c")</td>-->
             <!--foreach (var phone in item.Telephones)
            {
                <td>phone.Number</td>
            }-->
        </tr>
    }
</table>