@using KorusTest.ViewModels
@using KorusTest.Model
@model IndexViewModel

@{
    ViewBag.Title = "Все сотрудники";
}

@*<form class="form-inline">
        <label>Выберите сотрудника:</label>
        <select name="employeeId" class="form-control">
            foreach (EmployeesModel emp in Model.Employees)
            {
                <option value="emp.Id">emp.FIO</option>
            }
        </select>
        <input type="submit" />
    </form>
    <br />
    <table class="table">
        foreach (Telephone t in Model.Telephones)
        {
            <tr><td>t.Id</td><td>t.Number</td></tr>
        }
    </table>*@


@*<a asp-action="Create">Добавить телефон</a>*@
<table class="table">
    <tr>
        <td>
            ФИО
        </td>
        <td>
            ЗП
        </td>
        <td>
            Телефоны
        </td>
        <td>
            количество должностей
        </td>
    </tr>
    @foreach (Employee item in Model.Employees)
    {
<tr>
    <td>
        @item.FIO
    </td>
    <td>
        @item.Salary
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.Telephones.Count)*@
        @foreach (var tel in item.Telephones)
        {
            if (tel.EmployeeId == item.Id)
            {
                @tel.Number
                <br />
            }
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Positions.Count())
        @*foreach (var pos in Model.Positions)
        {
            if (pos.Id = )
            {
                var name = Model.Positions.Where(p => p.Id == rec.PositionId);
                @name
                <br />
            }
        }*@
        
    </td>
</tr>
    }
</table>
