
@using KorusTest.Model
@model IEnumerable<Telephone>

@{
    ViewBag.Title = "Все телефоны";
}

<!--<form class="form-inline">
    <label>Выберите сотрудника:</label>
    <select name="employeeId" class="form-control">
        foreach (EmployeesModel emp in Model.Employees)
        {
            <option value="emp.Id">emp.FIO</option>
        }
    </select>
    <input type="submit" />
</form>
<br />
<table class="table">
    foreach (Telephone t in Model.Telephones)
    {
        <tr><td>t.Id</td><td>t.Number</td></tr>
    }
</table>-->


<a asp-action="Create">Добавить телефон</a>
<table class="table">
    <tr>
        <td>
            номер
        </td>
        <td>
            абонент
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Number
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FIO)
            </td>
        </tr>
    }
</table> 
